# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Build artifacts
ip-country-state.csv
ip-nub.csv
ip.map
ip.map.bz2
ip.map.gz
ip.map.new
local
localdata.h
main
mapdate.h
refdata.h
